<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">
	<appender name="ASYNCAP1" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="AP1"/>
	</appender>
	<appender name="AP1" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="trace/sesame.log"/>
		<param name="MaxFileSize" value="1000KB"/>
		<param name="MaxBackupIndex" value="3"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{DATE}] %5p - %m%n"/>
		</layout>
	</appender>
	<logger name="sesame">
		<level value="error"/>
		<appender-ref ref="ASYNCAP1"/>
	</logger>
	<root>
		<priority value="error"/>
	</root>
</log4j:configuration>

