

DIV.autocomplete {
  position:absolute;        
  width:250px;        
  background-color:"#FFFFFF";       
  margin:0px;       
  padding:0px;        
  overflow:auto;
 }    

 
    
    
DIV.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
  overflow:auto;
  }   
  
DIV.autocomplete ul li.selected { 
 background-color: #ffb;
 font: 8pt Verdana,Helvetica,sans-serif;
 text-align: left;
 }

DIV.autocomplete ul li {
  list-style-type:none;    
  display:block;       
  margin:0;        
  padding:12px;        
  height:32px;        
  cursor:pointer;
  font : normal 7pt Verdana, Helvetica, sans-serif;
  text-align: left;
   } 