A:link,A:visited{
	font : bold 8pt Verdana, Helvetica, sans-serif;
	text-decoration: none;
	color : 000066;
}
A:active{
	font : bold 8pt Verdana, Helvetica, sans-serif;
	text-decoration : none;
	color : 000066;
}
A:HOVER{
	font : bold 8pt Verdana, Helvetica, sans-serif;
	text-decoration : underline;
	color : 000066;
}
p{
	font : normal 8pt Verdana, Helvetica, sans-serif;
	text-decoration: none;
	color : 000066;
}
td.reponseerror{
	font : bold 8pt Verdana, Helvetica, sans-serif;
	color : 000066;
	background-color: #cccccc;
	vertical-align : middle;
	text-align : left;
}
font.lienactifnav{
	font : bold 8pt Verdana, Helvetica, sans-serif;
	color : ffffff;
}
td.fondactif{
	background-color: #6699CC;
	text-align : center;
	vertical-align : middle;
}
td.fondactifgauche {
	background-color: #6699CC;
	text-align : left;
	vertical-align : middle;
	}
font.boldappli{
	font : bold 8pt Verdana, Helvetica, sans-serif;
	color : 000066;
	text-align : center;
}

td.titreaccueil { font : bold 8pt Verdana, Helvetica, sans-serif; color : #000066; vertical-align : middle; text-align : center; }
td.applicenter{
	font : bold 8pt Verdana, Helvetica, sans-serif;
	color : 000066;
	text-align : center;
	vertical-align : middle;
}
td.barrecouleur{
	background-color: #99ccff;
	height: 20px;
	vertical-align : middle;
}
td.barrecouleurcenter{
	background-color: #99ccff;
	height: 20px;
	vertical-align : middle;
	text-align : center;
}
td.barrechemin{
	background-color: cccccc;
	height: 20px;
	vertical-align : middle;
	text-align : left;
}
td.barrechemincenter{
	background-color: cccccc;
	height: 20px;
	vertical-align : middle;
	text-align : center;
}
font.textechemin{
	font : normal 8pt Verdana, Helvetica, sans-serif;
	color : 333333;
	text-align : left;
}
font.texteniv3{
	font : normal 10px Verdana, Helvetica, sans-serif;
	color :000000;
	vertical-align : middle;
	text-align : left;
}
font.sstitreleft {
	font : bold 8pt Verdana, Helvetica, sans-serif;
	color : 000000;
	vertical-align : middle;
	text-align : left;
}
td.titretableau {
	background-color : 99ccff;
	font : bold 10pt Verdana, Helvetica, sans-serif;
	color : 000066;
	vertical-align : middle;
	text-align : left;
}
td.intituleboldmiddle {
	background-color: FFFFFF;
	font : bold 8pt Verdana, Helvetica, sans-serif;
	color : 666666;
	vertical-align : middle;
	text-align : center;
}
td.intituleformright {
	background-color: FFFFFF;
	font : normal 8pt Verdana, Helvetica, sans-serif;
	color : 666666;
	vertical-align : middle;
	text-align : right;
}
td.intituleformleft {
	font : normal 8pt Verdana, Helvetica, sans-serif;
	color : 666666;
	vertical-align : middle;
	text-align : left;
}
td.titreformleft {
	font : bold 10pt Verdana, Helvetica, sans-serif;
	color : 000066;
	vertical-align : middle;
	text-align : left;
}
td.titreformright {
	font : bold 10pt Verdana, Helvetica, sans-serif;
	color : 000066;
	vertical-align : middle;
	text-align : right;
}
td.titrecolonneleft {
	font : bold 8pt Verdana, Helvetica, sans-serif;
	color : 000000;
	vertical-align : middle;
	text-align : left;
}
td.titrecolonnecenter {
	font : bold 8pt Verdana, Helvetica, sans-serif;
	color : 000000;
	vertical-align : middle;
	text-align : center;
}
td.titrecolonneright {
	font : bold 8pt Verdana, Helvetica, sans-serif;
	color : 000000;
	vertical-align : middle;
	text-align : right;
}
td.contenuleft {
	background-color: Ffffff;
	font : normal 8pt Verdana, Helvetica, sans-serif;
	color : 000000;
	vertical-align : middle;
	text-align : left;
}
font.contenuleft {
	background-color: Ffffff;
	font : normal 8pt Verdana, Helvetica, sans-serif;
	color : 000000;
	vertical-align : middle;
	text-align : left;
}
td.contenuright {
	background-color: Ffffff;
	font : normal 8pt Verdana, Helvetica, sans-serif;
	color : 000000;
	vertical-align : middle;
	text-align : right;
}
td.colonnenoirright  {
	background-color: b8d8d8;
	font : normal 8pt Verdana, Helvetica, sans-serif;
	color : 000000;
	vertical-align : middle;
	text-align : right;
}
td.pagination{
	background-color : #99ccff;
	height : 10px;
	vertical-align : middle;
	text-align : center;
}
td.intitulemenunoir{
	background-color: #FFFFFF;
	font : normal 8pt Verdana, Helvetica, sans-serif;
	color : 000000;
	vertical-align : middle;
	text-align : left;
}
td.textenoir{
	font : normal 8pt Verdana, Helvetica, sans-serif;
	color : 000000;
}
font.lien { 
	font : bold 8pt Verdana, Helvetica, sans-serif; 
	color : 000066; 
}
td.fond {
	background-color: #99ccff; height: 20px;
	text-align : center;
	vertical-align : middle;
}
