.OptionMenuOpen1        { font-family: Arial; font-size: 9pt; text-decoration: none; height: 16px; font-weig
ht: bold; color:#FFFFFF; margin-left:12px }
a.OptionMenuOpen1:hover {color: #FFFFFF}

.OptionMenuClose1       { font-family: Arial; font-size: 9pt; text-decoration: none; height: 16px; font-weig
ht: bold; color:#FFFFFF; margin-left:12px}
a.OptionMenuClose1:hover {color: #FFFFFF}

.OptionMenuClose2       { font-family: Arial; font-size: 9pt; text-decoration: none; height: 16px; font-weig
ht: bold; color:#5B677D; margin-left:24px}
a.OptionMenuClose2:hover        {color: #5B677D}

.OptionMenuOpen2        { font-family: Arial; font-size: 9pt; text-decoration: none; height: 16px; font-weig
ht: bold; color:#5B677D; margin-left:24px}
a.OptionMenuOpen2:hover {color: #5B677D}

.OptionMenuClose3       { font-family: Arial; font-size: 9pt; text-decoration: none; height: 16px; font-weig
ht: bold; color:#5B677D; margin-left:36px}
a.OptionMenuClose3:hover        {color: #5B677D}

.OptionMenuOpen3        { font-family: Arial; font-size: 9pt; text-decoration: none; height: 16px; font-weig
ht: bold; color:#5B677D; margin-left:36px}
a.OptionMenuOpen3:hover {color: #5B677D}

.OptionMenuClose4       { font-family: Arial; font-size: 9pt; text-decoration: none; height: 16px; font-weig
ht: bold; color:#5B677D; margin-left:48px}
a.OptionMenuClose4:hover        {color: #5B677D}

.OptionMenuOpen4        { font-family: Arial; font-size: 9pt; text-decoration: none; height: 16px; font-weig
ht: bold; color:#5B677D; margin-left:48px}
a.OptionMenuOpen4:hover {color: #5B677D}

.CanalSG
{ 	position:relative;
	top: 30px; 
	left: 0px; 
	width: 180px; 
	height: 40px; 
	z-index: 1; 
	text-align: center
}
.CanalSG table {
	width: 90%;
}