.TitrePage{
	background-color: #B980BF;
	font: bold 10pt Verdana,Helvetica,sans-serif;
	color: #FFFFFF;
	vertical-align : middle;
    text-align : center; 
}
.TitreMenu{
    background-color: #7D7C80;
	height: 20px;
	vertical-align : middle;
	text-align : center;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	border-top: 1px solid #7D7C80;
	border-bottom: 1px solid #7D7C80;
	border-right: 1px solid #7D7C80;
	border-left: 1px solid #7D7C80;
	padding-bottom:0px;
    margin-bottom:0px; }
.TitreMenu2{
    background-color: #FFFFFF;
	height: 40px;
	vertical-align : middle;
	text-align : center;
	font : Arial,Helvetica,sans-serif;
	color: #7D7C80;
	font-weight: bold;
}
.TitreMenuInfo{
	height: 25px;
	vertical-align : middle;
	text-align : center;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #545958;
	border-top: 1px solid #7D7C80;
	border-bottom: 1px solid #7D7C80;
	border-right: 1px solid #7D7C80;
	border-left: 1px solid #7D7C80;
	padding-top:0px; 
	margin-top:0px; 
}
td.lib{
	height: 25px;
	font : normal 8pt Verdana, Helvetica, sans-serif;
	color: #000066;
    background-color: #F0F0DF;
}

td.lib1 {
	font-weight: bold;
	height:25px;
	width: 4%;
}

td.lib2 {
 	font-weight: bold;
 	height:25px;
	width: 9%; 
}

td.lib3{
	height: 25px;
	font : normal 8pt Verdana, Helvetica, sans-serif;
	color: #000066;
	font-style: italic;
}

td.libNoBackGround{
	height: 25px;
	font : normal 8pt Verdana, Helvetica, sans-serif;
	color: #000066;
	text-align : left;
}

td.libRight{
	height: 25px;
	font : normal 8pt Verdana, Helvetica, sans-serif;
	color: #000066;
    align: right;
    text-align : right;
}

/* YNI FDT 888 */
td.libCenter{
	height: 25px;
	font : normal 8pt Verdana, Helvetica, sans-serif;
	text-align : center;
	color: #000066;
    background-color: #F0F0DF;
}

td.libisac{
	font : normal 8pt Times New Roman,Verdana, Helvetica, sans-serif;
	color: #000066;
    background-color: #F0F0DF;
}
td.contenu{
	font : normal 8pt Verdana, Helvetica, sans-serif;
	color: #000066;
}

td.contenuCenter {
	font : normal 8pt Verdana, Helvetica, sans-serif;
	text-align : center;
	color: #000066;
}

td.contenuRight{
	font : normal 8pt Verdana, Helvetica, sans-serif;
	text-align : right;
	color: #000066;
}
td.contenuisac{
	font : normal 8pt Verdana, Helvetica, sans-serif;
	color: #000066;
}

.etapeisac{ font : normal 8pt Verdana, Helvetica, sans-serif ;color: #000066;}


.tableBleu{
	font: normal 8pt Verdana,Arial,Helvetica,sans-serif;
	color: #000066;
}

.fondBleuClair{
	bgcolor:#ddddff ;
}

.inputisac{
	font : normal 8pt Times New Roman,Verdana, Helvetica, sans-serif;
	text-align:right;
	color: #000066;	
}
.input {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-style: normal;
	color: #000066;
}
/* KRA PPM 59288 ajout d'un style pour une liste déroulante*/
.inputlist {
	font-family: Courier New; 
	font-size: 8pt; 
	font-style: normal;
	width: 99.5%;
	color: #000066;
}
/*Fin KRA PPM 59288*/
.inputCourier {  
	font-family: Courier, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 4pt; 
	font-style: normal;
	color: #000066;
}
.inputgras {  
	font-family: Times New Roman,Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-style: bold;
	text-align:right;
	color: #C400C4;
	background-color: #F0F0DF;
}

.inputright {  
	font-family: Times New Roman,Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-style: bold;
	text-align:right;
	background-color: #F0F0DF;
}

.inputleft {  
	font-family: Times New Roman,Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-style: bold;
	text-align:left;
	background-color: #F0F0DF;
}

.inputgrasleft {  
	font-family: Times New Roman,Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-style: bold;
	text-align:left;
	color: #C400C4;
	background-color: #F0F0DF;
}



.textarea {  
	font-family: Courier New; 
	font-size: 8pt; 
	font-style: normal;
	color: #000066;
}

.Multicol {  color: #000066;font-family: Courier New;  font-size: 8pt; }

.Multicol2 {  color: #000066;font-family: Courier New;  font-size: 8pt;  width: 350px;}

td.fond1{background-color: #E9D2F2;}

tr.fond1{background-color: #E9D2F2;}

.inputmois {  
    font : normal 8pt Times New Roman,Verdana, Helvetica, sans-serif;
	text-align:right;
	color: #000066;	
	background-color: #F6EEF8;
}	

tr.fond2{background-color: white}
tr.fondGris{
	background-image: url("../images/bg-navVert-li_off.gif");
	display: block;
	border-bottom: 1px solid #FFFFFF;
	font: Arial,Helvetica,Verdana,sans-serif;
	color: #FFFFFF;
	height:20px }
tr.fondNoir{
	background-color: black;
	display: block;
	font: bold Arial,Helvetica,Verdana,sans-serif;
	color: #FFFFFF;
	height:20px;
	}
tr.fondBlanc{
	background-color: white;
	display: block;
	background-repeat: no-repeat;
	background-position: 5% 0px;
	position: relative;
	font: Arial,Helvetica,Verdana,sans-serif;
	height:20px;
	}
tr.fondGrisClair{
	background-color: rgb(231, 231, 235);
	display: block;
	background-repeat: no-repeat;
	background-position: 5% 0px;
	position: relative;
	font: Arial,Helvetica,Verdana,sans-serif;
	height:20px;
	}

tr.titreTableau {
    background-color: #cccccc;
	height: 20px;
	vertical-align : middle;
	text-align : left;
	font : bold 9pt Verdana,Arial,Helvetica,sans-serif;
	color: #000066;
}
.msgErreur { font: bold 8pt Verdana,Arial,Helvetica,sans-serif; color: red}

DIV.msgInfo {
	width: 249px; 
	height: 20px; 
	vertical-align : middle;
	border: 1px solid #999999;
	text-align: center; 
	color: red; 
}

TD.case_rouge {
	color: red; 
	font: bold 8pt;
}

TD.case_grise {
	background-color: lightgrey; 
}

DIV.gras {  
	font-weight: bold;
}

DIV.normal {  
	font-weight: normal;
}

A.titreMsg:link,A.titreMsg:visited{
	text-decoration: none;
}
A.titreMsg:active{
	text-decoration : none;
}
A.titreMsg:hover{
	text-decoration : underline;
}

DIV.texteForum {
	position: relative;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 10px; 
	margin-top: 10px; 
	padding-bottom: 4px; 
	padding-left: 4px; 
	padding-right: 4px; 
	padding-top:0px; 
	border:1px solid rgb(128, 0, 128);
	display: none;
}

DIV.texteDiscussion {
	display: block;
}

DIV.motifRejet {
	color: red; 
	margin-top: 10px;
	margin-bottom: 10px; 
	margin-left: 10px;
	font-size: 11px; 
	font-style: italic;
}

DIV.edition {
	margin-top: 20px;
	margin-left: 10px;
	font-size: 10px; 
	font-style: italic;
}

SPAN.cligno {  
	color: red; 
	font-size: 12px; 
	font-weight: bold;
	text-decoration: underline overline;
}

DIV.tooltip {
    background-color: #B980BF;
	font : bold 9pt Verdana,Arial,Helvetica,sans-serif;
	color: #FFFFFF;
	position: absolute;
	visibility: hidden;
	border:1px solid rgb(128, 0, 128);
	padding:3px;
	width:150px;
}

.alignRight {  
	text-align:left;
}
