html {height: 100%}
body {font-family:Arial, Helvetica, sans-serif; font-size:8px; color:#484848; text-align:center; margin:0;height: 100%}

#mainContainer {width:1000px; margin:auto; text-align:left; height:100%;}
/* FAD PPM 64368 QC 1914 : Modification de la taille de l'écran */
#mainContainer2 {width:1194px; margin:auto; text-align:left; height:100%;}
/* FAD PPM 64368 QC 1914: Fin */
#topContainer {background-image:url(../images/bg_page.gif); background-repeat:repeat-y;  margin:auto; padding:0px 18px 0px 18px; height:98%; position: relative;  }
/* FAD PPM 64368 QC 1914 : Modification de l'image de background */

#topContainerBip29 {background-image:url(../images/bg_page.gif); background-repeat:repeat-y;  margin:auto; padding:0px 18px 0px 18px; height:150%; position: relative;  }
#topContainer2 {background-image:url(../images/bg_page.png); background-repeat:repeat-y;  margin:auto; padding:0px 18px 0px 18px; height:98%; position: relative; background-position-x:-3px }
/* FAD PPM 64368 QC 1914 : Fin*/
#topContainer table tr { height: 0px; font-size: 0;}
#topContainer table table tr { height: 0px; font-size: 0;}
#content table table tr { font-size:7pt; }
#bottomContainer { width:100%; background-image:url(../images/bg_footer.gif); background-repeat:repeat-x; }
/* FAD PPM 64368 QC 1914 : Modification de l'image du footer */
#bottomContainer1 { width:1194px; background-image:url(../images/bg_footer.png); background-repeat:repeat-x; background-position-x:-3px}
/* FAD PPM 64368 QC 1914 : Fin */
 

#entete {background-image:url(../images/bg_outils.gif); background-repeat:repeat-x; height:28px; }

#logo {height:50px; background-color:#fff; }
#logo #logo_sg {float:left; padding:0px 0px 0px 30px;}
#logo #nomdusite {float:right;padding:0px 30px 0px 0px; }

#outils {background-color:#fff; padding:0px 0px 0px 30px; height:30px; }
#outils ul {margin:0; padding:0; list-style:none;}
#outils ul li {float:left; padding-top:7px; padding-bottom:7px; padding-right:7px; padding-left:7px; background-color:#e7e7eb; margin-right:3px; font-size:14px; font: Verdana,Helvetica,sans-serif; }
#outils ul li:hover, #onglets ul li.ongletsHover {background-color:#d6d6da;}
#outils ul li.active {background-color:#484848; color:#fff;}
#outils ul li.active a {color:#fff;}
#outils ul li.homeLink {padding:0; margin-right:2px; font-size:1px; height:30px;}
#outils ul li a {color:#484848; text-decoration:none; }
#outils ul li a:hover {text-decoration:none;}

#titre {}
#libelle {border:solid 1px;color:#FFFFFF;text-align:center; padding:7px 0px 0px 0px; font:bold 125% arial;}

#content {background:#f7f7f7; padding:3px 10px 0px 10px; margin:auto;  font-size:8px; }
#content.noLeftMargin {background:#f7f7f7; padding:3px 0px 0px 0px; font-size:8px;}

#navH { /* toutes les listes */
	padding: 0;
	margin: 0;
	list-style: none;
}

#navH a {
	display: block;
	text-decoration: none;
	height:auto;
	color:#fff;
}

#navH li {
	float: left;
	margin:0px;
	height:21px; padding:11px 15px 3px 15px;
	
}

#navH li:hover, #navH li.sfhover, #navH li.active  {background-color:#484848;}
 
#navH li ul { /* listes de deuxiï¿½me niveau */
		position: absolute;
		z-index:200;	
		list-style:none;
		margin:0;		
		padding:0;
		width: 110px;
		height: auto;
		left: -999em; /* on met left plutï¿½t que display pour cacher les menus parce que display: none n'est pas lu par les lecteurs d'ï¿½cran */
		border:solid 1px #484848;
		border-top:solid 9px #484848;
		background-color:white;
	}
#navH li ul li {padding:2px 0px;}
#navH li ul li a  { color:#484848; text-decoration:none; padding:4px 0px 4px 15px; width:auto; width:95px;}
#navH li ul li:hover, #navH li ul li.sfhover {background-color:#7d7c80;}
#navH li ul li:hover a, #navH li ul li.sfhover a {color:#fff;}

#navH li:hover ul, #navH li.sfhover ul { /* listes imbriquï¿½es sous les items de listes survolï¿½s */
		left: auto;
		margin-left:-15px;
	}

#tableau {margin:0; padding:8px 5px; vertical-align:top; }
#tableau table {background-color:#fff; text-align:left;  }

td.lib{
	height: 25px;
	font-size: 12px;
	
	color: #000000;
    background-color: #e7e7eb;
}

tr.lib{
	height: 25px;
	font-size: 12px;
	
	color: #000000;
    background-color: #e7e7eb;
}

td.texteGras {  
	font-size: 12px; 
	font-weight: bold;
}
td.texte {  
	font-size: 12px;
}
td.input {  
	font-size: 8pt; 
} 
.Multicol {  color: #000066;font-family: Courier New;  font-size: 8pt; }

.Multicol2 {  color: #000066;font-family: Courier New;  font-size: 8pt;  width: 350px;}

#champfocus {
	background-color: #F0F0DF;
	border:1px #CC0000;
}

td.TitrePage{
	background-color: #7d7c80;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
    text-align : center;
    background-image:url(../images/bg_navigation.gif); background-repeat:repeat-x; padding:0px 0px 0px 0px; height:35px; vertical-align:middle;
}

td.fond1{background-color: #DBDBDB;}
td.fond2{background-color: #FFFFFF;}

tr.fond1{background-color: #DBDBDB;}
tr.fond2{background-color: #FFFFFF;}

.inputmois {  
    font : normal 8pt Times New Roman,Verdana, Helvetica, sans-serif;
	text-align:right;
	color: #000066;	
	background-color: #F6EEF8;
}	

.inputgras {  
	font-family: Times New Roman,Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-style: bold;
	text-align:right;
	background-color: #F0F0DF;
}

td.libisac{
	font : normal 8pt Arial, Helvetica, sans-serif;
    background-color: #F0F0DF;
}
/* PPM 57865 debut : creation de 3 class de fond de couleur*/
td.libisac1{
	font : normal 8pt Arial, Helvetica, sans-serif;
    background-image:url(../images/rect_vert.png);background-repeat:no-repeat;
}

td.libisac2{
	font : normal 8pt Arial, Helvetica, sans-serif;
    background-image:url(../images/triangle_vert.png);background-repeat:no-repeat; 
}

td.libisac3{
	font : normal 8pt Arial, Helvetica, sans-serif;
    background-image:url(../images/rect_orange.png);background-repeat:no-repeat;
}
/* PPM 57865 fin */
td.contenu{
	font : 12px Arial, Helvetica, sans-serif;
}
td.contenu a{ font-weight: bold; color:#484848;}

td.contenu a:hover{text-decoration : underline;}

td.contenuisac{
	font : normal 8pt Arial, Helvetica, sans-serif;
}
.etapeisac{ font : normal 8pt Arial, Helvetica, sans-serif; }

DIV.tooltip {
    background-color: rgb(72, 72, 72);
	font : bold 9pt Verdana,Arial,Helvetica,sans-serif;
	color: #FFFFFF;
	position: absolute;
	visibility: hidden;
	border:1px solid rgb(255, 255, 255);
	padding:3px;
	width:150px;
}

.hidden {display: none;}

.tableauBlanc{
	font : normal 8pt Arial, Helvetica, sans-serif;
	background-color:#FFFFFF;
}

input[type=text] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
/* PPM 63897 fin */
.inputsubmit {
  color:#787878;
  background-color:#E8E8E8;

}

.inputvalider
{
	font-weight: bold;

}
 
input[type=text]:focus, input[type=text]:active {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid  #EFD242;
}

TD.case_grise {
	background-color: lightgrey;
}

a.asterisque_rouge {
	color: red;
}

A:link {
	font : Arial, Helvetica, sans-serif;
	text-decoration: none;
}
A:visited{
	font : Arial, Helvetica, sans-serif;
	text-decoration: none;
}

td.linkFavoris A:link {
	font : bold 8pt Arial, Helvetica, sans-serif;
	color : #000000;
	text-decoration: none;
}
td.linkFavoris A:visited {
	font : bold 8pt Arial, Helvetica, sans-serif;
	color : #000000;
	text-decoration: none;
}
td.linkFavoris A:hover{
	font : bold 8pt Arial, Helvetica, sans-serif;
	text-decoration : underline;
	color : #000000;
}
.tableBleuText{
	font: normal 8pt Verdana,Arial,Helvetica,sans-serif;
	color: #000000;
}

TD.case_rouge {
	color: red; 
	font: bold;
}

.tableBleuStr{
	font: normal 8pt Verdana,Arial,Helvetica,sans-serif;
	color: #000066;
	z-index: 9999;
	top:68%;
	left:40%;
	position:absolute;
	padding:5px;
	display:none;
}

.highlight {
	background-color: #B0C4DE;
}



#model_table {
    width: 100%;
    height: 50px;
}

#model_table tbody{
    background-color: white;
}

#model_table thead tr td {
    font-size : 12px;
    font-weight : bolder;
}

#content table table tr { font-size:7pt; }

#model_table tbody tr td {
    font-size: 8pt;
    font-weight: normal;
    font-family: Courier New;
}


.tableGras tbody tr td {
    font-size: 12px;
    font-weight: bold;
}




