#divAideChoix {
	background-color: yellow;
	position: absolute;
	display: none;
	z-index: 9999;
	font-size: 12pt;
	text-align: left;
	border: 1px solid black;
	padding: 2px;
	width: 450px;
	height: 150px;
}