.barrecouleur{ 
	background-color:#DDDDFF;
	clip:rect()
}
.barremsg{ 
	background-color:#cccccc;
	clip:rect() 
}
.article{ 
	clip:rect()
}
.barrechemin{
	background-color: #B980BF;
	height: 20px;
	vertical-align: middle;
	text-align : left;
}
