.onglet{
	background-color: #99cccc;
	font: bold 8pt Verdana,Helvetica,sans-serif;
	color: #000066;
}
.bordure{
	border: solid 1px;
	border-color: #99cccc;
	width: 90%;
	font: normal 9pt Verdana,Helvetica,sans-serif;
}
.onglet a{
	text-decoration: none;
	color : #000066;
}
.onglet a:hover{
	text-decoration: underline;
	color: #000066;
}
.fond{
	background-color: #99cccc;
	font: bold 8pt Verdana,Helvetica,sans-serif;
	color: #000066;
	text-align: center;
}
.fond .menu2{
	background-color: #FFFFFF;
	font: bold 8pt Verdana,Helvetica,sans-serif;
	color: #000066;
	border: solid 1px;
	border-color: #5A9C9C ;
	text-align: left;
}

.fond a{
	text-decoration: none;
	color : #000066;
}
.fond a:hover{
	text-decoration: underline;
}
.fondactif{
	background-color: #5A9C9C;
	font : bold 8pt Verdana,Helvetica,sans-serif;
	color: #FFFFFF;
	text-align : center;
}
.m2select{
	font : bold 8pt Verdana,Helvetica,sans-serif;
	color: #FFFFFF;
	background-color: #5A9C9C;
}
.m2unselect a{
	font : bold 8pt Verdana,Helvetica,sans-serif;
	color: #000066;
	background-color: #FFFFFF ;
	text-decoration: none;
}
.m2unselect a:hover{
	text-decoration: underline;
}
.fondcell{
	font : bold 8pt Verdana,Helvetica,sans-serif;
	background-color: #F0F0DF;
}
.fondcell2{
	font : bold 8pt Verdana,Helvetica,sans-serif;
	background-color: #FFFFFF;
}
.entetetableau{
	background-color: #99cccc;
	height: 20px;
	vertical-align : middle;
	text-align : left;
	font :bold 9pt, Verdana,Arial,Helvetica,sans-serif;
	color: #000000
}
.titretableau{
	background-color: #cccccc;
	height: 20px;
	vertical-align : middle;
	text-align : left;
	font : bold 9pt Verdana,Arial,Helvetica,sans-serif;
	color: #000000
}
.tableligne1{
	font: normal 8pt Verdana,Arial,Helvetica,sans-serif;
	color: #000000;
	background-color: #F0F0DF
}
.tableligne2{ 
	font: normal 8pt Verdana,Arial,Helvetica,sans-serif;
	color: #000000;
	background-color: #FFFFFF;
}
.contenuleft{
	background-color: #FFFFFF;
}

.intitulemenunoir{
	font: normal 8pt Verdana,Arial,Helvetica,sans-serif;
	color: #000000;
}
.check {
	height: 13px;
	width: 13px;
}

.tableLogin
{
	font: bold 8pt Verdana,Arial,Helvetica,sans-serif;
	color: #000066;
	border: Solid 1px ;
	border-color: #000066 ;
}

.tableLoginBoutons
{
	border-top: Solid 1px ;
	border-top-color: #000066 ;
}

.erreurs
{
	font: bold 8pt Verdana,Arial,Helvetica,sans-serif;
	color: #FF0000;
}